body {
    margin: unset;
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    letter-spacing: 1px;
}

header, .calculation, .advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4vw 8.5vw;
}

header img {
    width: 16vw;
}
.header-contacts {
    display: flex;
    align-content: center;
}
.header-contacts a:before {
    display: block;
    content: '';
    position: absolute;
    top: -42%;
    transform: translateY(58%);
    left: 3vw;
    height: 1.5vw;
    width: 1.5vw;
    background-image: url("../img/phone-img.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-contacts .mail:before {
    background-image: url("../img/mail-img.png");
}

.header-contacts a {
    text-decoration: unset;
    font-size: 1.19vw;
    color: #08237e;
    position: relative;
    padding-left: 5vw;
    font-weight: 400;

}

.calculation {
    background-image: url("../img/01.png");
    background-position: center;
    background-size: cover;
    padding: 3.8vw 8.5vw;
}

.calculation article {
    width: 40%;
}

.about-calculation {
    color: white;
}

.about-calculation h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 3vw;
    line-height: 3.3vw;
    font-weight: 600;
}

.about-calculation p {
    font-size: 1.75vw;
}

.calculation-form {
    max-width: 840px;
    width: 45%;
    background-color: white;
    border-radius: .5vw;
    padding: 1.5vw 1vw;
}

.calculation-form h2 {
    color: #00b1f5;
    font-size: 1.6vw;
    text-align: center;
    margin: unset;
    padding: 0 1.2vw 2vw;
    font-weight: bold;
}

form ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

form label {
    color: #c3c5c5;
    font-size: .9vw;
}

form input {
    color: #262626;
    font-size: 1.2vw;
    letter-spacing: 1px;
    width: 100%;
    border: none;
    outline: unset;
    border-bottom: 1px solid #c3c5c5;
    padding: 0;
}

form li {
    display: flex;
    justify-content: space-between;
    padding-bottom: .9vw;
}
.calculation-form .last{
    padding-bottom: 0;
}
form li div {
    width: 100%;
    padding: 0 1vw;
}

.input-container p {
    font-size: 1vw;
    margin: .5vw 0;
}

.input-annotation {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.input-annotation p {
    margin: 0;
    color: #262626;
}

.form-button {
    padding: .8vw 0;
    margin: 2vw .1vw;
    border: none;
    background-color: #00b1f5;
    color: white;
    border-radius: .5vw;
    font-size: 1.5vw;
    font-weight: bolder;
}

.advantages {
    border-bottom: 1px solid #c3c5c5;
    padding: 3.1vw 8.5vw;
}

.advantages p {
    position: relative;
    padding-left: 6vw;
    font-weight: bolder;
    font-size: 1.5vw;
    width: 25%;
}

.advantages p:before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: '';
    height: 4vw;
    width: 4vw;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
}

.advantages .second:before {
    background-image: url("../img/dollar.svg");
}

.advantages .third:before {
    background-image: url("../img/settings.svg");
    left: .5vw;
}

.about-system {
    text-align: center;
    padding: 4vw 6vw;
}
.about-system h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 2.9vw;
    width: 30vw;
    margin: auto;
    font-weight: 600;
}
.card-price {
    display: flex;
    justify-content: space-around;
    margin: 6vw 0;
}

.card-price p {
    font-size: 1.3vw;
    line-height: 2vw;
}
.card-price h3 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.7vw;
}
.card-price .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 31vw;
    max-width: 455px;
    width: 25%;
    text-align: left;
    color: white;
    background-image: linear-gradient(to bottom, #00b1f5, #5ed2ff);;
    padding: 6vw 2.2vw 2.2vw;
    margin: 4vw 0;
    border-radius: 20px;
}
.card-container .bottom-price{
    margin: 0;
}
.card-price .card-container:before {
    position: absolute;
    display: block;
    top: -6vw;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 15vw;
    height: 15vw;
    background-image: url("../img/alarm&Button.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.card-price .second:before {
    background-image: url("../img/camera.png");
}

.card-price .third:before {
    background-image: url("../img/calc.png");
}

.system-text {
    font-size: 1.3vw;
    width: 50vw;
    margin: 5vw auto;
    line-height: 4vw;
    padding: 0;
}

.less {
    width: 40vw;
}

.about-system-button {
    padding: 1.2vw 3vw;
    background-color: #08237e;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.5vw;
    letter-spacing: .05vw;
    word-spacing: .05vw;
    font-weight: bold;
    margin: 2vw 0;
}

.wrap_image, .wrap_image_button {
    padding: 3.7vw 6vw;
    color: white;
    text-align: left;
    background-image: url("../img/02.png");
    background-size: cover;
    background-position: center 40vw;
}

.wrap_image p, .wrap_image_button p {
    font-size: 1.5vw;
    width: 67vw;
}

.wrap_image h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 2.6vw;
    width: 60vw;
    font-weight: 600;
}

.option {
    text-align: center;
    border-bottom: 1px solid #c3c5c5;
    padding: 5vw 0 6vw;
}

.option button {
    margin-bottom: 20px;
}
.less-more{
    text-align: left;
    width: 42vw;
}
.five-with-icon {
    display: flex;
    font-weight: bold;
    padding: 3vw 6vw;
}

.five-with-icon p {
    width: 24%;
    text-align: center;
    position: relative;
    padding-top: 8vw;
    font-size: 1.5vw;
}

.five-with-icon p:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: '';
    width: 6vw;
    height: 6vw;
    background-image: url("../img/finance.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.five-with-icon .second:before{
    background-image: url("../img/design.png");
}
.five-with-icon .third:before{
    background-image: url("../img/gear.png");
}
.five-with-icon .fourth:before{
    background-image: url("../img/maintenance.png");
}
.five-with-icon .fifth:before {
    background-image: url("../img/aftercare.png");
}
.system-text li{
    list-style: none;
    position: relative;
    padding-left: 1.8vw;
}
.system-text li:before{
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-image: url("../img/chevron-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: .5vw;
    height: 1vw;
    color: #78daff;
    font-weight: bolder;
}
.wrap_image_button{
    background-image: url("../img/03.png");
}
.wrap_image_button h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
}
.wrap_image_button p{
    width: 40vw;
}
.wrap_image_button span{
    color: #ff4756;
}
.wrap_image_button button{
    border: none;
    padding: 1vw 2vw;
    background-color: #00b1f5;
    color: white;
    font-weight: bolder;
    font-size: 1.5vw;
    border-radius: 10px;
    margin: 20px 0;
}
.text-before-logos p{
    width: 43vw;
    margin: 4.5vw auto;

}
.partner-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw 6vw;
    border-top: 1px solid #c3c5c5;
    border-bottom: 1px solid #c3c5c5;
}
.partner-logos img{
    height: 7vw;
}
.partner-logos .first{
    height: 5vw;
}
.text-before-logos .last{
    margin: 7vw auto;
}
.slider-container{
    background-image: url("../img/04.png");
    text-align: center;
}
.splide {
    padding: 1vw 0;
}
.splide__slide{
    opacity: 50%;
}
.splide__slide+.is-active{
    opacity: unset;
}
.slider-items {
    display: flex;
    margin: 0 8.2vw;
}
.slider-items img{
    margin: auto 2vw;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}
.slider-card {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 1vw 2.5vw;
    font-size: 1.3vw;
    margin-left: 3vw;
}
.slider-card p{
    font-style: italic;
    margin: 0;
    padding: 1.7vw 0;
    text-align: left;
}
.slider-card:before{
    position: absolute;
    content:"";
    border-style: solid;
    border-width: 2vw 3vw 2vw 0;
    border-color: transparent white transparent transparent;
    top: 50%;
    transform: translateY(-50%);
    left: -2.9vw;
}

.sendInput div {
    display: flex;
    padding: 0;
}

.sendInput label {
    font-size: 1.2vw;
    color: black;
    margin: .5vw 0;
    letter-spacing: 0;
    font-weight: bold;
    padding: 0;
}

.sendInput input {
    border: none;
    outline: none;
    text-align: left;
    width: 50%;
}
.sendInput .month{
    width: 32%;
}
.slider-button {
    font-size: 1.4vw;
    letter-spacing: 1px;
    padding: 1.4vw 2.5vw;
    margin: 3.5vw 0 6vw;
    border: none;
    border-radius: 10px;
    color: #08237e;
    background-color: #fff;
    font-weight: bolder;
}

footer {
    background-color: #08237e;
    color: #fff;}
.information-container{
    display: flex;
    justify-content: space-around;
    padding: 5vw 0 4vw;
}
.location p {
    position: relative;
    padding-left: 4.5vw;
    font-size: 1.5vw;
    margin: 0;
}
.location p:before{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: '';
    height: 4vw;
    width: 3.8vw;
    background-image: url("../img/Map marker.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.number {
    position: relative;
    padding-left: 1.5vw;
    font-size: 1vw;
    color: white;
    text-decoration: none;
    vertical-align: top;
}

.number:before {
    position: absolute;
    content: '';
    width: 1vw;
    height: 1vw;
    top:50%;
    transform: translateY(-50%);
    left:0;
    background-image: url("../img/phone-img.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.socialNetwork{
    display: flex;
    flex-direction: column;
}
.socialIcon {
    display: flex;
    justify-content: space-between;
    margin: 0;
    line-height: 1px;
}

.socialIcon a {
    display: block;
    background-image: url("../img/facebook.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 1.5vw;
}

.socialIcon .second {
    background-image: url("../img/twitter.png");
}

.socialIcon .third {
    background-image: url("../img/linkedin.png");
}

.copyright {
    width: 25vw;
    letter-spacing: .1vw;
    font-size: 1.5vw;
}

.copyright p {
    margin: 0;
}

.quotes {
    border-top: 1px solid #c3c5c5;
    margin: 0;
    padding: 1vw 9vw;
    font-size: .8vw;
}


.range input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 1vw 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.7vw;
    width: 1.7vw;
    background-color: white;
    border: 1px solid #c3c5c5;
    border-radius: 50%;
    margin-top: -.7vw;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: .3vw;
    width: .3vw;
    background-color: #22bffc;
    border-radius: 30px;
}

.button-shadow {
    -webkit-box-shadow: 0 8px 32px 0;
    -moz-box-shadow: 0 8px 32px 0 rgba(36, 144, 228, 0.61);
    box-shadow: 0 8px 32px 0 rgba(36, 144, 228, 0.61);
}

.button-shadow:hover {
    -webkit-box-shadow: 0 8px 32px 0 rgba(8, 35, 126, 0.61);
    -moz-box-shadow: 0 8px 32px 0 rgba(8, 35, 126, 0.61);
    box-shadow: 0 8px 32px 0 rgba(8, 35, 126, 0.61);
}

.system-text-padding {
    padding: 3vw 0;
}

.system-text-padding .system-text {
    margin: 2vw auto;
}
.splide__pagination .splide__pagination__page{
    width: 1vw;
    height: 1vw;
}
.splide__track{
    margin: 3vw 0;
}
@media (max-width: 768px) {
    .calculation, .card-price {
        flex-direction: column;
    }

    .calculation-form, .calculation .about-calculation {
        width: fit-content;
    }

    .calculation-form h2 {
        padding: 0 15% 2vw;
    }

    .calculation-form {
        font-size: 0;
        border-radius: 5px;
    }

    .input-container label, .input-annotation p, .quotes {
        font-size: 1.5vw;
    }

    .system-text,
    .wrap_image p,
    .wrap_image_button p,
    .card-container p,
    .input-container input,
    .sendInput label,
    .sendInput input,
    .about-calculation p,
    .five-with-icon p,
    .advantages p {
        font-size: 2.5vw;
        line-height: 5vw;
    }

    .advantages p {
        width: 30%;
        padding-left: 8vw;
    }

    .advantages p:before {
        width: 6vw;
        height: 6vw;
    }

    .five-with-icon p {
        padding-top: 10vw;
    }

    .partner-logos img {
        height: 9vw;
    }

    .partner-logos .first {
        height: 7vw;
    }


    .five-with-icon p:before {
        width: 8vw;
        height: 8vw;
    }

    .about-system h2, .wrap_image h2, .wrap_image_button h2 {
        width: 100%;
        font-size: 5vw;
    }

    .wrap_image_button {
        background-position: center;
    }

    .button-shadow, .slider-card, .wrap_image_button button, .information-container p, .number, .header-contacts a {
        font-size: 2vw;
    }

    .header-contacts a {
        padding-left: 7vw;
    }

    .header-contacts a:before {
        height: 2.5vw;
        width: 2.5vw;
    }

    .system-text li {
        padding-left: 12px;
    }

    .system-text, .wrap_image p, .wrap_image h2, .wrap_image_button h2, .wrap_image_button p {
        width: 100%;
    }


    .system-text-padding .system-text, .system-text-padding li {
        width: fit-content;
        margin: 2vw 6vw;
    }

    .system-text-padding .less {
        margin: 2vw 0;
    }

    .system-text li:before {
        width: 10px;
        height: 10px;
    }

    .card-container h3 {
        font-size: 20px;
    }

    .five-with-icon, .advantages {
        padding: 1.5vw 2vw;
    }

    .card-price .card-container {
        width: 80%;
        margin: 12% auto 0;
        padding: 10% 4% 4%;
        height: 45%;
    }

    .card-price .card-container:before {
        top: -10%;
        width: 32%;
        height: 32%;
    }

    .splide__track {
        margin: 6vw 0;
    }

    .slider-items {
        margin: 0;
    }

    .form-button {
        margin: 5vw 0;
    }

    @media (max-width: 500px) {
        .system-text, .wrap_image p, .wrap_image_button p, .card-container p, .input-container input, .sendInput label, .sendInput input, .about-calculation p {
            font-size: 3vw;
        }

        .input-container label, .input-annotation p {
            font-size: 2vw;
        }
    }
}
