@media (max-width: 2600px) {
    body {
        font-size: 22px;
    }
}

@media (max-width: 2400px) {
    body {
        font-size: 21px;
    }
}

@media (max-width: 2270px) {
    body {
        font-size: 19px;
    }
}

@media (max-width: 2000px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 2100px) {
    body {
        font-size: 17px;
    }
}

@media (max-width: 1890px) {
    body {
        font-size: 16px;
    }
}

@media (max-width: 1590px) {
    body {
        font-size: 15px;
    }

}

@media (max-width: 1490px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 1390px) {
    body {
        font-size: 13px;
    }
}

@media (max-width: 1290px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 1190px) {
    body {
        font-size: 11px;
    }
}

@media (max-width: 1090px) {
    body {
        font-size: 10px;
    }
}

@media (max-width: 990px) {
    body {
        font-size: 9px;
    }
}

@media (max-width: 890px) {
    body {
        font-size: 8px;
    }
}

@media (max-width: 790px) {
    body {
        font-size: 7px;
    }
}

@media (max-width: 620px) {
    body {
        font-size: 6px;
    }
}

body {
    margin: unset;
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    letter-spacing: 1px;
}

header, .advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em 8em;
}

.calculation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/01.png");
    background-position: center;
    background-size: cover;
    padding: 6em 8em 5em;
}

header img {
    width: 16em;
}

.header-contacts {
    display: flex;
    align-content: center;
}

.header-contacts a {
    font-size: 1.4em;
    text-decoration: none;
    color: #08237e;
    position: relative;
    padding-left: 2.5em;
}

.header-contacts .header-phone {
    margin-right: 2.5em;
}

.header-contacts a:before {
    display: block;
    content: '';
    position: absolute;
    top: -.1em;
    left: .5em;
    height: 1.46em;
    width: 1.46em;
    background-image: url("../img/phone-img.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-contacts .mail:before {
    background-image: url("../img/mail-img.png");
}

.calculation article {
    width: 32em;
}

.calculation-form {
    width: 42em;
    background-color: white;
    border-radius: .5em;
    padding: 1.5em 1em;
}

.about-calculation {
    color: white;
}

.about-calculation h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 3em;
    font-weight: 600;
}

.about-calculation p,
form input,
.card-price p,
.wrap_image p,
.wrap_image_button p,
.slider-card p,
.sendInput label,
.sendInput input,
.system-text {
    font-size: 1.6em;
}

.advantages p,
form button,
.about-system-button,
.wrap_image_button button {
    font-size: 1.7em;
    font-weight: bold;
}


.calculation-form h2 {
    color: #00b1f5;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 0 1em 2em;
    font-weight: bold;
}

.calculation-form .send-success,
.calculation-form .send-fail {
    display: none;
    padding: 0;
    margin: .5em 1em;
}

form ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

form label {
    color: #c3c5c5;
    font-size: 1.2em;
}

form input {
    color: #262626;
    letter-spacing: 1px;
    width: 100%;
    border: none;
    outline: unset;
    border-bottom: 1px solid #c3c5c5;
    padding: 0;
}

form li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.calculation-form .last {
    padding-bottom: 0;
}

form li div {
    width: 100%;
    padding: 0 1em;
}

.input-container p {
    font-size: 1.2em;
    margin: .5em 0;
}

.input-annotation {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.input-annotation p {
    margin: 0;
    color: #262626;
}

.form-button {
    display: block;
    padding: .5em 0;
    margin: .5em .1em;
    border: none;
    background-color: #00b1f5;
    color: white;
    font-weight: bolder;
}

.advantages {
    border-bottom: 1px solid #c3c5c5;
}

.advantages p {
    margin: 1em auto;
    position: relative;
    padding-left: 3em;
    font-weight: bold;
    width: 15em;
}

.advantages p:before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: '';
    height: 2.5em;
    width: 2.5em;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
}

.advantages .second:before {
    background-image: url("../img/dollar.svg");
}

.advantages .third:before {
    background-image: url("../img/settings.svg");
}

.about-system {
    text-align: center;
    padding: 6em 8em;
}

.about-system .text-before-card {
    margin: 1.5em auto 4em;
}

.about-system h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 2.8em;
    width: 10em;
    margin: auto;
    font-weight: 600;
}

.card-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 6em 0 0;
}

.card-price h3 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 1.5em;
}

.card-price .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 25em;
    text-align: left;
    color: white;
    background-image: linear-gradient(to bottom, #00b1f5, #5ed2ff);;
    padding: 5em 2em 2em;
    margin: 4em auto;
    border-radius: 1em;
}

.card-container .bottom-price {
    margin: 0;
}

.card-price .card-container:before {
    position: absolute;
    display: block;
    top: -5em;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 12em;
    height: 12em;
    background-image: url("../img/alarm&Button.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card-price .second:before {
    background-image: url("../img/camera.png");
}

.card-price .third:before {
    background-image: url("../img/calc.png");
}

.system-text {
    width: 42em;
    margin: 5em auto;
    padding: 0;
}

.about-system-button {
    padding: .5em 1em;
    background-color: #08237e;
    border: none;
    color: white;
    letter-spacing: 1px;
    margin: 0 0 2em;
}

.wrap_image, .wrap_image_button {
    padding: 3em 8em;
    color: white;
    text-align: left;
    background-image: url("../img/02.png");
    background-size: cover;
    background-position: center 35em;
}

.wrap_image_button p {
    width: 50%;
}

.wrap_image h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 2.8em;
    width: 22em;
    font-weight: 600;
}

.option {
    text-align: center;
    border-bottom: 1px solid #c3c5c5;
    padding: 5em 0 6em;
}

.option .system-text-padding {
    padding: 3em 0 1em;
}

.less-more {
    text-align: left;
    width: 42em;
}

.icon-text {
    padding: 3em 8em;

}

.five-with-icon {
    display: flex;
    font-weight: bold;
}

.five-with-icon p {
    width: 24em;
    text-align: center;
    position: relative;
    padding-top: 6em;
    font-size: 1.5em;
}

.five-with-icon p:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: '';
    width: 5em;
    height: 5em;
    background-image: url("../img/01_finance.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.five-with-icon .second:before {
    background-image: url("../img/02_design.png");
}

.five-with-icon .third:before {
    background-image: url("../img/03_gear.png");
}

.five-with-icon .fourth:before {
    background-image: url("../img/04_maintenance.png");
}

.five-with-icon .fifth:before {
    background-image: url("../img/05_aftercare.png");
}

.system-text li {
    list-style: none;
    position: relative;
    padding-left: .8em;
}

.system-text li:before {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background-image: url("../img/chevron-right.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: .6em;
    height: .6em;
    color: #78daff;
    font-weight: bolder;
}

.wrap_image_button {
    background-image: url("../img/03.png");
}

.wrap_image_button h2 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 2.8em;
    font-weight: 600;
}

.wrap_image_button span {
    color: #ff4756;
}

.wrap_image_button button {
    display: block;
    border: none;
    padding: .5em 1em;
    background-color: #00b1f5;
    color: white;
    margin: 1em 0;
}

.text-before-logos .need-padding {
    padding: 8em 0;
}

.text-before-logos p {
    width: 43em;
    margin: 4em auto;

}

.about-system .system-text-padding {
    padding: 3em 0 1em;
}

.partner-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3em 6em;
    border-top: 1px solid #c3c5c5;
    border-bottom: 1px solid #c3c5c5;
}

.partner-logos img {
    height: 9em;
}

.text-before-logos .last {
    margin: 7em auto;
}

.slider-container {
    background-image: url("../img/04.png");
    background-size: cover;
    text-align: center;
}

.splide {
    padding: 1em 0;
}

.splide__slide {
    opacity: 50%;
}

.splide__slide + .is-active {
    opacity: unset;
}

.slider-items {
    display: flex;
    margin: 0 6em;
}

.slider-items img {
    -webkit-box-shadow: 0 8px 32px 0;
    -moz-box-shadow: 0 8px 32px 0 rgba(36, 144, 228, 0.61);
    box-shadow: 0 8px 32px 0 rgba(36, 144, 228, 0.61);
    margin: auto 2em;
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.slider-card {
    position: relative;
    background-color: white;
    border-radius: 1em;
    padding: 1em 2em;
    margin-left: 3em;
}

.slider-card p {
    font-style: italic;
    margin: 0;
    padding: 1em 0;
    text-align: left;
}

.slider-card .slider-author {
    font-style: normal;
    opacity: .5;
}

.slider-card:before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 2em 3em 2em 0;
    border-color: transparent white transparent transparent;
    top: 50%;
    transform: translateY(-50%);
    left: -2.9em;
}

.sendInput div {
    display: flex;
    padding: 0;
    margin: .5em 0;
    letter-spacing: 0;
}

.sendInput label {
    color: black;
    font-weight: bold;
    padding: 0;
    line-height: normal;
    font-size: 1.2em;
}

.sendInput input {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-align: left;
    line-height: normal;
    width: 8em;
    font-size: 1.2em;
}

.sendInput .month {
    width: 5.1em;
}

.slider-button {
    font-size: 1.5em;
    line-height: 2em;
    letter-spacing: 1px;
    padding: .5em 1em;
    margin: 3.5em auto 6em;
    border: none;
    color: #08237e;
    background-color: #fff;
    font-weight: bolder;
}

footer {
    background-color: #08237e;
    color: #fff;
}

.information-container {
    display: flex;
    justify-content: space-between;
    padding: 5em 8em 4em;
}

.location p {
    position: relative;
    padding-left: 4em;
    font-size: 1.2em;
    margin: 0;
}

.location p:before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: '';
    height: 4em;
    width: 4em;
    background-image: url("../img/Map marker.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.number {
    position: relative;
    padding-left: 2em;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    vertical-align: top;
}

.number:before {
    position: absolute;
    content: '';
    width: 1.2em;
    height: 1.2em;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-image: url("../img/phone-img.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.socialNetwork {
    display: flex;
    flex-direction: column;
}

.socialIcon {
    display: flex;
    justify-content: space-between;
    margin: 0;
    line-height: 1px;
}

.socialIcon a {
    display: block;
    background-image: url("../img/facebook.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    margin-top: 1em;
}

.socialIcon .second {
    background-image: url("../img/twitter.png");
}

.socialIcon .third {
    background-image: url("../img/linkedin.png");
}

.copyright {
    width: 18em;
    font-size: 1.2em;
}

.copyright p {
    margin: 0;
}

.quotes {
    border-top: 1px solid #c3c5c5;
    margin: 0;
    padding: 1em 10em;
    font-size: 1.2em;
}


.range input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 1em 0;
    border-bottom: none;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.2em;
    width: 1.2em;
    background-color: white;
    border: 1px solid #c3c5c5;
    border-radius: 50%;
    margin-top: -.5em;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: .3em;
    width: .3em;
    background-color: #22bffc;
    border-radius: 3em;
}

.button-shadow {
    cursor: pointer;
    font-size: 1.5em;
    line-height: 2em;
    border-radius: .5em;
    -webkit-box-shadow: 0 8px 32px 0;
    -moz-box-shadow: 0 8px 32px 0 rgba(36, 144, 228, 0.61);
    box-shadow: 0 8px 32px 0 rgba(36, 144, 228, 0.61);
}

.button-shadow:hover {
    -webkit-box-shadow: 0 8px 32px 0 rgba(8, 35, 126, 0.61);
    -moz-box-shadow: 0 8px 32px 0 rgba(8, 35, 126, 0.61);
    box-shadow: 0 8px 32px 0 rgba(8, 35, 126, 0.61);
}

.system-text-padding {
    padding: 3em 0;
}

.system-text-padding .system-text {
    margin: 2em auto;
}

.splide__pagination .splide__pagination__page {
    cursor: pointer;
    width: .6em;
    height: .6em;
    margin: 0 .5em;
    background-color: transparent;
    transform: scale(1.4);
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    -moz-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
}

.splide__track {
    margin: 3em 0;
}

@media (max-width: 1750px) {

    .slider-items img {
        width: 15%;
        height: 15%;
    }

    .card-price {
        justify-content: space-between;
    }

    .card-price .card-container {
        width: 20em;
    }

    .advantages p {
        width: 27%;
    }

    .wrap_image p, .wrap_image_button p {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .card-price .card-container {
        margin: 8em auto;
    }

    .number {
        padding-left: 2.5em;
    }

    .socialIcon a {
        margin-top: 2em;
    }

    .wrap_image_button {
        background-position: center;
    }

    header img {
        width: 316px;
        max-width: 100%;
    }

    .about-calculation h2,
    .about-calculation p,
    .wrap_image h2,
    .wrap_image p,
    .wrap_image_button h2,
    .wrap_image_button p {
        text-align: center;
    }

    .card-price {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .information-container {
        flex-direction: column;
        align-items: left;
    }

    .information-container div {
        width: fit-content;
    }


    .socialNetwork, .copyright {
        margin-top: 3em;

    }

    .information-container .copyright {
        width: 50%;
    }

    .calculation article, .calculation-form {
        width: 100%;
        margin: 1em auto;
        border-radius: 1em;
    }


    .about-system h2,
    .wrap_image h2,
    .wrap_image_button h2,
    .calculation-form h2,
    .card-container h3 {
        box-sizing: border-box;
        width: 100%;
        font-size: 20px;
    }

    .about-calculation h2 {
        font-size: 32px;
    }

    .system-text,
    .system-text-padding .system-text,
    .card-container p,
    .about-calculation p,
    .wrap_image p,
    .wrap_image_button p,
    .slider-card p,
    .button-shadow,
    .advantages p,
    .wrap_image_button button,
    .five-with-icon p,
    .input-annotation p {
        font-size: 18px;
    }

    form ul {
        padding: 0 1em;
    }

    form li {
        padding: 0;
        margin: auto;
        flex-direction: column;
    }

    form li div {
        padding: 0;
    }

    form label {
        font-size: 15px;
    }

    .location p,
    .socialNetwork a,
    .copyright p {
        font-size: 14px;
    }

    .header-contacts a {
        font-size: 16px;

    }

    .system-text, .system-text-padding .system-text {
        width: 100%;
    }

    .input-container {
        padding-top: 10px;
    }

    .input-container input {
        font-size: 18px;
    }

    .quotes {
        width: fit-content;
        padding: 1em 2em;
        font-size: 12px;
    }

    .slider-items {
        margin: 0 3em;
    }

    .need-padding, .option {
        box-sizing: border-box;
        padding: 3em 8em;
    }

    .sendInput label {
        font-size: 18px;
        width: fit-content;
    }

    .sendInput input {
        font-size: 18px;
        width: 8.6em;
    }

    .sendInput .month {
        width: 5.5em;
    }

    .card-price .card-container {
        width: 80%;
        padding: 5em 2em 2em;
    }

    .advantages p {
        width: 25em;
    }

    .socialIcon a,
    .number:before {
        width: 2em;
        height: 2em;
    }

    .system-text li:before {
        top: .55em;
    }

    .wrap_image_button .button-shadow,
    .button-shadow {
        margin: 1em auto;
        min-height: 3.8em;
    }

    .slider-container {
        background-size: cover;
        background-position: center;
    }

    .card-price {
        width: 100%;
    }

    .five-with-icon {
        flex-wrap: wrap;
    }

    .five-with-icon p {
        margin: 1em auto;
        width: 50%;
        font-weight: bolder;
    }

    .five-with-icon p:before {

    }

    form li {

    }

    .sendInput input {
        background-color: transparent;
    }

    .slider-items {
        flex-direction: column;
    }

    .slider-card {
        margin: 0;
    }

    .slider-card:before {
        display: none;
    }

    .slider-button {
        margin: 3.5em .5em;
    }

    .slider-items img {
        margin: 2em auto;

    }

    .partner-logos img {
        margin: 20px auto;
        height: auto;
        width: 100px;
    }

    .card-price .card-container {
        width: 100%;
    }

    form .last {
        flex-direction: column-reverse;
    }


    .input-container .form-button {
        max-width: 100%;
        flex-grow: 1;
        padding: .5em 1.5em;
        font-size: 2.25em;
        margin: 1em 0;
    }

    .header-contacts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .header-contacts a {
        margin-top: 2em;
    }


    header {
        flex-direction: column;
        align-items: start
    }

    .text-before-logos .need-padding {
        padding: 8em;
    }

    .card-price .card-container:before {
        top: -10em;
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 500px) {

    header,
    .advantages,
    .calculation,
    .about-system,
    .wrap_image,
    .option,
    .icon-text,
    .wrap_image_button,
    .text-before-logos .need-padding,
    .partner-logos,
    .information-container {
        padding-left: 4em;
        padding-right: 4em;
    }

    .button-shadow {
        max-width: 325px;
    }
}